$black: #212529;
$white: #ffffff;

$blue: #48549F;
$green: #33D69F;
$light-green:  rgba($green, .07);
$gray: #373B53;
$light-gray: rgba($gray, .07);
$orange: #FF8F00;
$light-orange: rgba($orange, .07);

$lightest-gray: #F9FAFE;

$very-light-purple:#DFE3FA;
$blue-gray: #888EB0;
$dark-blue-gray: #373b53;
$light-purple:#7E88C3;
$purple: #7C5DFA;
$bright-purple: #9277FF;
